body {
    margin: 0;
    padding: 0;
    background-color: #e8f000;
}

.header {
    background: white;
    font-family: "Arial";
    padding: 20px 0;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.header-content {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    font-size: 28px;
    font-weight: bold;
    letter-spacing: 2px;
}

.logo a {
    text-decoration: none;
    color: inherit;
}

.login-page {
    width: 100%;
    height: calc(100vh - 98px);
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-field {
    font-family: sans-serif;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    width: 500px;
    border-radius: 10px;
    border: 1px solid black;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.5);
    font-size: 13px;
    background-color: white;
}


text {
    font-weight: bold;
}

label {
    font-weight: bold;
}

img {
    margin-top: 7px;
    margin-right: 5px;
}

.login_items {
    display: flex;
    justify-content: center;
    align-items: center;
}

input {
    width: 97%;
    border-radius: 30px;
    padding: 10px;
    border: 1px solid #ccc;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.5);
}

.input-objects,
.input-label-and-field {
    text-align: left;
    margin-left: 5px;
    display: flex;
    flex-direction: column;
    width: 100%;
}

button {
    width: 97%;
    border-radius: 30px;
    padding: 10px;
    border: 1px solid #ccc;
    background-color: #E8F000;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.5);
    margin-top: 40px;
    margin-bottom: 20px;
    margin-left: 6px;
}

button:hover {
    background-color: #d6de03;
}

a {
    color: blue
}

a:hover {
    color: darkblue
}