* {
    box-sizing: border-box;
}

.hidden{
    display: none !important;
}

body{
    background-color: #fcd757;
    margin: 0;
    padding: 0;
    display: flex;
    margin-bottom: 70%;
}

main{
    margin-left: 20%;
    width: 80%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

#navMenu{
    position: fixed;
    top: 0;
    left: 0;
    width: 20%;
    max-width: 250px;
    min-height: 100vh;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 1;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 1.9em;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.5);
}

#navMenu * {
    font-family: inherit;
    font-size: inherit;
    margin-block: 25px;
    text-decoration: none;
    color: black;
}

#navMenu :not(#logo){
    margin-block: 40px;
}

#logo{
    width: 60%;
    height: 22.5%;
}

#logOut{
    background: transparent;
    border: none;
}

#logOut:hover{
    color: #e8aa14;
    font-weight: bold;
}

#navMenu a:hover{
    color: #e8aa14
}

#userWelcome{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 2.7em;
}

#contactTableUI{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin-top: 2.5%;
}

#topBar{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    padding: 20px;
    width: 100%;
    max-width: 1200px;
}

#searchContacts{
    width: 100%;
    max-width: 600px;
    height: 40px;
    border-radius: 15px;
    border-color: black;
    border-style: solid;
    border-width: 1px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.5);
    padding-inline: 15px;
    margin-inline: 5px;
}

#goAddContact, #searchContactButton{
    background-color: #e8aa14;
    border-width: 1px;
    border-radius: 50%;
    border-color: black;
    border-style: solid;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.5);
    width: 55px;
    height: 55px;
    aspect-ratio: 1/1;
    padding: 5px;
}

#goAddContact:hover, #searchContactButton:hover{
    background-color: #d2970d;
}

#addContactUI{
    width: 100%;
    max-width: 550px;
    height: auto;
    min-height: 500px;
    padding-inline: 40px;
    padding-block: 20px;
    background-color: white;
    border-color: #d2970d;
    border-style: solid;
    border-width: 2px;
    border-radius: 15px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.5);
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-top: 2.5%;
    font-size: 1em;
}

#addContactUI h2{
    margin-top: 2%;
}

#addContactUI label{
    font-family: sans-serif;
    font-size: 1em;
}

#addContactUI input{
    width: 100%;
    max-width: 450px;
    height: 100%;
    max-height: 30px;
    border-radius: 10px;
    border-color: black;
    border-style: solid;
    border-width: 1px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.5);
    padding-inline: 10px;
    margin-block: 3%;
}

#buttons{
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 5%;
}

#addContactUI button, #addContact input[type="submit"]{
    background-color: #e8aa14;
    border-width: 1px;
    border-radius: 15px;
    border-color: black;
    border-style: solid;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.5);
    width: 100%;
    max-width: 175px;
    height: 30px;
    margin-block: 10px;
    padding: 5px;
    font-family: inherit;

}

#addContactUI button:hover, #addContactUI input[type="submit"]:hover{
    background-color: #d2970d;
}

#addContactForm input:user-invalid{
    border-color: red;
}

#addContactForm input:user-valid{
    border-color: green;
}

#contactAdded{
    position: relative;
    text-align: center;
    margin:5px;
    color: green;
    font-weight: bold;
}

#contactResultTable{
    width: 95%;
    max-width: 1300px;
    border: none;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.5);
    margin-top: 7.5%;
    border-collapse: collapse;
    border-spacing: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1em;
}

#contactResultTable thead {
    display: table-header-group;
    width: 100%;
}

#contactResultTable th{
    background-color: #e8aa14;
    color: black;
    border-bottom-color: #d2970d;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    padding: 10px;
    text-transform: uppercase;
}

#contactResultTable th:not(:last-child){
    border-right-width: 1px;
    border-right-style: solid;
    border-right-color: #d2970d; 
}

#searchResults td{
    background-color: white;
    color: black;
    border-bottom-color: #d2970d;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    padding: 12px;
}

#searchResults td:not(:last-child){
    border-right-width: 1px;
    border-right-style: solid;
    border-right-color: #d2970d;
}

#searchResults td:last-child {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
    white-space: nowrap;
    width: 130px;
    margin-inline: 5px;
}

#searchResults input{
    width: 100%;
    min-width: 80px;
    box-sizing: border-box;
    border-radius: 5px;
    border-width: 2px;
    border-color: black;
    border-style: solid;
    padding: 3px;
}

#searchResults tr.errorRow td {
    background-color: white;
    text-align: center;
    color: red;
    font-weight: bold;
    padding: 20px;
    border-bottom-color: #d2970d;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-right: none;
}

.inlineButton{
    background-color: #e8aa14;
    border-width: 1px;
    border-radius: 15%;
    border-color: black;
    border-style: solid;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.5);
    width: 50px;
    height: 50px;
    aspect-ratio: 1/1;
    padding: 5px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
}

.inlineButton:hover{
    background-color: #d2970d;
}